div.body{
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

table.blogs{
  margin-left: auto;
  margin-right: auto;
}

td{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
