.header{
  display: flex;
}

#home{
  justify-content: left;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

#title{
  justify-content: center;
  text-align: center;
  font-size: 40px;
  margin: auto;
  width: 60%;
}

#links{
  justify-content: right;
  text-align: right;
  margin-right: 0;
  padding: 5px;
}

div.body{
  padding: 50px 80px 50px;
}

div.body h1{
  font-size: 30px;
}

div.body #text{
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  text-indent: 5%;
}
