div.body{
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

table.blogs{
  margin-left: auto;
  margin-right: auto;
}

td.date{
  padding-left: 10px;
  padding-right: 10px;
}

td.description{
  padding-left: 10px;
  padding-right: 10px;
}
