html{
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

h1{
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

p, li{
  font-size: 16px;
  padding: 0 30px 20px;
  line-height: 2;
  letter-spacing: 1px;
}
