h1{
  color: black;
  font-size: 2em;
  border-bottom: 1px solid #375e97;
}

.subject{
  font-size: 1.5em;
  font-weight: bold;
  color: #999999;
}

.body{
  text-align: left;
}

.details{
  padding: 50px 80px 50px;
}

li{
  list-style-type: none;
  margin: 10px 0px;
}

.detail{
  display: flex;
}

#right{
  margin-left: auto;
}

#left{
  margin-right: auto;
}
