.header{
  display: flex;
  border-bottom: 1px solid #aaaaaa;
  font-family: Helvetica;
  justify-content: center;
}

#dropMenu{
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 100px;
}

.menu{
  display: inline-block;
  position: relative;
  margin-right: 280px;
}

.links{
  display: none;
  position: absolute;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.item{
  color: black;
  background-color: #d0d0d7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#home{
  text-align: left;
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: 5px;
}

#title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#links{
  text-align: right;
  margin-right: 0;
  padding: 5px;
}

div.body{
  font-family: sans-serif;
  padding: 50px 300px 50px;
}

.text{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

footer{
  display: flex;
  border-top: 1px solid #aaaaaa;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  right: 300px;
  left: 300px;
  height: 50px;
  background: #aaaaaa;
}

#contact{
    padding: 10px;
}
